  /*==========  Mobile First Method  ==========*/

  /* Custom, iPhone Retina */

  @media only screen and (min-width: 320px) {}

  /* Extra Small Devices, Phones */

  @media only screen and (min-width: 480px) {}

  /* Small Devices, Tablets */

  @media only screen and (min-width: 768px) {
      .img_btn_form {
          width: 200px;
      }
      .telephone a {
          font-size: 20px;
      }
      .header_text h1 {
          display: none;
      }
      .header_text h1 {
          font-size: 40px;
      }
      .header_text h3 {
          font-size: 30px;
      }
      .oformlenie h2 {
          top: 480px;
          font-size: 20px;
      }
      .zak_btn {
          position: absolute;
          top: 485px;
          right: 20px;
      }
      .zak_btn button {
          font-size: 15px;
          padding: 5px 25px;
      }
      .zakazat h2 {
          font-size: 30px;
      }
      .pz {
          width: 70%;
      }
      .priem_zayvki p {
          padding: 80px 15px 15px 15px;
          font-size: 20px;
          text-align: center;
      }
      .podtverjdenie_zakaza p {
          padding: 80px 15px 15px 15px;
          font-size: 20px;
          text-align: center;
          margin-top: 20px;
      }
      .podz {
          width: 70%;
      }
      .vipolnenie_zakaza p {
          padding: 80px 15px 15px 15px;
          font-size: 20px;
          text-align: center;
          margin-top: 20px;
      }
      .vipz {
          width: 70%;
      }
      .oplata p {
          color: #fff;
          padding: 80px 15px 15px 15px;
          font-size: 20px;
          text-align: center;
          margin-top: 20px;
      }
      .opl {
          width: 70%;
      }
      .podrobno_models .modal-dialog {
          width: 600px;
      }
      .sroki h2 {
          font-size: 40px;
      }
      .certificate_ru h2 {
          font-size: 20px;
          width: 100%;
          margin-left: 0px;
          margin-bottom: 0px;
      }
      .work_day p {
          font-size: 15px;
      }
      .certificate_uk h2 {
          font-size: 20px;
          width: 100%;
          margin-left: 0px;
          margin-bottom: 0px;
      }
      .work_day a {
          position: absolute;
          margin-left: 0px;
          bottom: -30px;
          text-align: center;
          transform: translateY(0%);
          font-size: 15px;
      }
      .ru_models .modal-dialog {
          width: 600px;
      }
      .ukr_models .modal-dialog {
          width: 600px;
      }
  }

  /* Medium Devices, Desktops */

  @media only screen and (min-width: 992px) {
      .navbar-default .navbar-nav>li>a {
          font-size: 14px;
      }
      .header_top img {
          height: auto;
      }
      .telephone a {
          font-size: 20px;
      }
      .header_text h1 {
          top: 205px;
          font-size: 45px;
      }
      .header_text h2 {
          top: 320px;
          font-size: 40px;
      }
      .header_text h3 {
          font-size: 30px;
      }
      .oformlenie h2 {
          top: 470px;
          font-size: 25px;
      }
      .zak_btn {
          position: absolute;
          top: 485px;
      }
      .img_btn_form {
          width: 200px;
      }
      .work_day a {
          position: absolute;
          margin-left: 20px;
          background-color: #428bca;
          color: #fff;
          bottom: -20px;
          border-radius: 15px;
          padding: 5px 10px;
          text-align: center;
          transform: translateY(-0%);
      }
      .work_day p {
          font-size: 20px;
          font-family: 'Open Sans Semibold', sans-serif;
          padding: 0px 0px 10px 25px;
      }
      .certificate_ru h2 {
          font-size: 25px;
          width: 100%;
          margin-left: 0px;
          margin-bottom: 0px;
      }
      .certificate_uk h2 {
          font-size: 25px;
          width: 100%;
          margin-left: 0px;
          margin-bottom: 0px;
      }
      .pz {
          padding: 5px 5px;
          width: 170px;
      }
      .podz {
          padding: 5px 5px;
          width: 170px;
      }
      .vipz {
          padding: 5px 5px;
          width: 170px;
      }
      .opl {
          font-size: 16px;
          padding: 5px;
          width: 170px;
      }
      .electo_pl h4 {
          font-size: 26px;
          line-height: 25px;
      }
      .electo_pl p {
          font-size: 18px;
      }
      .meg_center_lg h2 {
          font-size: 35px;
          margin-top: 50px;
      }
      .meg_center_lg p {
          font-size: 25px;
          margin-top: 30px;
          text-align: justify;
      }
      .meg_center_lg h3 {
          font-size: 25px;
          font-weight: 600;
          margin-top: 50px;
      }
      .obrz_spr2 img {
          height: 340px;
      }
  }

  /* Large Devices, Wide Screens */

  @media only screen and (min-width: 1200px) {}

  /*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */

  @media only screen and (max-width: 1200px) {}

  /* Medium Devices, Desktops */

  @media only screen and (max-width: 992px) {}

  /* Small Devices, Tablets */

  @media only screen and (max-width: 768px) {}

  /* Extra Small Devices, Phones */

  @media only screen and (max-width: 480px) {}

  /* Custom, iPhone Retina */

  /* @media only screen and (max-width: 320px) {}*/