/* Смартфоны (портретный и альбомный режимы) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Сюда добавляем стили*/
}
/* Смартфоны (альбомный режим) ----------- */

@media only screen and (min-width: 321px) {
    /* Сюда добавляем стили*/
}
/* Смартфоны (портретный режим) ----------- */

@media only screen and (max-width: 320px) {
    /* Сюда добавляем стили*/
}
/* iPad (портретный и альбомный режимы) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Сюда добавляем стили*/
}
@media only screen and (max-device-width: 768px) {
    /* Сюда добавляем стили*/
    .collapse {
        display: block;
    }
    .header_top img {
        height: 85px;
        width: 230px;
    }
    .header_text h1 {
        top: 215px;
        font-size: 40px;
    }
    .header_text h2 {
        font-size: 35px;
    }
    .header_text h3 {
        font-size: 30px;
    }
    .oformlenie h2 {
        font-size: 20px;
        padding: 20px;
    }
    .zak_btn {
        right: 50px;
    }
    .zak_btn button {
        font-size: 15px;
        width: 130px;
    }
    .zakazat h2 {
        font-size: 30px;
    }
    .priem_zayvki, .podtverjdenie_zakaza, .vipolnenie_zakaza, .oplata {
        height: 225px;
        margin-bottom: 20px;
    }
    .sroki h2 {
        font-size: 45px;
    }
    .priem_zayvki p {
        text-align: center;
    }
    .podtverjdenie_zakaza p {
        text-align: center;
    }
    .vipolnenie_zakaza p {
        text-align: center;
    }
    .oplata p {
        text-align: center;
    }
    .certificate_ru {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .certificate_uk{
    	margin-left: 50%;
        transform: translateX(-50%);
    }
    hr {
        width: 200px;
    }
    .work_day {
        text-align: center;
    }
    .work_day a {
        margin-left: 0px;
        bottom: -15px;
        transform: translateX(-50%);
    }
    .dostavka h2{
    	font-size: 30px;
    	line-height: 40px;
    }
    .dostavka p{
    	font-size: 20px;
    }
}
/* iPad (альбомный режим) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Сюда добавляем стили*/
}
/* iPad (портретный режим) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Сюда добавляем стили*/
}
/* Настольные компьютеры и ноутбуки ----------- */

@media only screen and (min-width: 1224px) {
    /* Сюда добавляем стили*/
}
/* Большие экраны ----------- */

@media only screen and (min-width: 1824px) {
    /* Сюда добавляем стили*/
}
/* iPhone 5 (портретный и альбомный режимы)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* Сюда добавляем стили*/
}
/* iPhone 5 (альбомный режим)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    /* Сюда добавляем стили*/
}
/* iPhone 5 (портретный режим)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    /* Сюда добавляем стили*/
}