/*h1 h2 h3 {
	font-family: 'Roboto Condensed', sans-serif;
}*/

.zak_btn {
    position: absolute;
    top: 500px;
}
.navigations {
    line-height: 15px;
    margin-left: 70px;
}
.model_form {
    margin-top: 45px;
}
.model_form .phone {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.model_form img {
    width: 65px;
    float: left;
    padding: 5px;
    margin-top: -10px;
}
.modal-dialog {
    right: auto;
    left: 50%;
    width: 400px;
}
.model_form p {
    color: #ff6b00;
    font-size: 14px;
}
.telephone img {
    width: 65px;
    margin-top: -18px;
}
.telephone a {
    color: #ff6b00;
    font-size: 22px;
    margin-left: -65px;
    font-weight: bold;
    font-family: 'Roboto Condensed Bold', sans-serif;
}
.telephone {
    margin-top: 55px;
}
.navbar-nav>li>a {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto Condensed Bold', sans-serif;
}
.navbar-nav {
    float: none;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto Condensed Bold', sans-serif;
}
.navbar-default {
    color: #fff;
}
.navbar-default {
    background-color: #d6d4dfb5;
    border-color: #d6d4df00;
    text-align: center;
    transition: .4s;
}
.bg-overlay {
    background: #39376999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.header {
    background-image: url('/static/image/header.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}
.h-100vh {
    height: 600px;
}
.header_top img {
    height: 90px;
}
.header_text h1 {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 190px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.header_text h2 {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 330px;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.header_text h3 {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 380px;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.oformlenie h2 {
    text-align: left;
    top: 480px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.zak_btn button {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    background: #ff6b00;
    border: none;
    border-radius: 10px;
    width: 170px;
    font-family: 'Roboto Bold', sans-serif;
}
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}
.zakazat_spravku {
    background-image: url('/static/image/bck2_02.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
}
.zakazat {
    padding: 50px;
}
.zakazat h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.priem_zayvki, .podtverjdenie_zakaza, .vipolnenie_zakaza, .oplata {
    background-color: #ff6b00;
    width: 100%;
    height: 330px;
    position: relative;
}
.priem_zayvki p {
    color: #fff;
    padding: 70px 15px 15px 15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto Bold', sans-serif;
}
.podtverjdenie_zakaza p {
    color: #fff;
    padding: 70px 15px 15px 15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto Bold', sans-serif;
}
/*.form_nap {
    width: 80%;
    margin: 0 auto;
}*/
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 2px solid #151212;
    width: 300px;
}
.vipolnenie_zakaza p {
    color: #fff;
    padding: 70px 15px 15px 15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto Bold', sans-serif;
}
.oplata p {
    color: #fff;
    padding: 70px 15px 15px 15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto Bold', sans-serif;
}
.pz {
    position: absolute;
    background-color: #fff;
    padding: 10px 10px;
    color: black;
    box-shadow: #000000b3 4px 4px;
    width: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.podz {
    position: absolute;
    background-color: #fff;
    padding: 10px 10px;
    color: black;
    width: 200px;
    box-shadow: #000000b3 4px 4px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.vipz {
    position: absolute;
    background-color: #fff;
    padding: 10px 10px;
    color: black;
    box-shadow: #000000b3 4px 4px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
}
.opl {
    position: absolute;
    background-color: #fff;
    color: black;
    box-shadow: #000000b3 4px 4px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Bold', sans-serif;
    padding: 10px;
}
.podrobno {
    padding: 20px;
    margin: 20px;
}
.podrobno_models> .modal-body >.modal-dialog{
    width: 760px;
}
.podrobno_models .modal-dialog{
    width: 760px;
}
.podrobno_models img{
    width: 100%;
}
.ru_models .modal-dialog{
     width: 760px;
}
.ru_models img{
    width: 100%;
}
.ukr_models .modal-dialog{
    width: 760px;
}
.ukr_models img{
    width: 100%;
}
.podrobno a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.spravka_srochno {
    padding: 20px;
    margin: 20px;
}
.sroki h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    color: black;
    font-family: 'Open Sans Semibold', sans-serif;
}
.certificate {
    background-image: url('/static/image/87_02.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 30px;
}
.certificate_ru h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    background-color: #2579be;
    width: 300px;
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans Semibold', sans-serif;
    box-shadow: #00000080 4px 4px;
    border-left: 8px solid #fff;
    box-shadow: #b4abab 2px 2px 5px 3px;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    margin-left: 30px;
    margin-bottom: 0px;
}
.certificate_uk h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    background-color: #2579be;
    width: 300px;
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans Semibold', sans-serif;
    box-shadow: #00000080 4px 4px;
    border-left: 8px solid #fff;
    box-shadow: #b4abab 2px 2px 5px 3px;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    margin-left: 30px;
    margin-bottom: 0px;
}
.work_day {
    background: #fff;
    box-shadow: #00000080 4px 4px;
    border-left: 8px solid #fff;
    box-shadow: #b4abab 2px 2px 5px 3px;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    position: relative;
    display: block;
}
.work_day p {
    font-size: 30px;
    font-family: 'Open Sans Semibold', sans-serif;
    padding: 0px 0px 10px 25px;
}
.work_day span {
    font-weight: bold;
}
.work_day a {
    position: absolute;
    margin-left: 50px;
    background-color: #428bca;
    color: #fff;
    bottom: -30px;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    transform: translateY(-50%)
}
.dostavka {
    background-image: url('/static/image/dostavka.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
}
.dostavka h2 {
    font-size: 35px;
    font-family: 'Open Sans Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    line-height: 70px;
}
.dostavka p {
    font-size: 25px;
    font-family: 'Open Sans Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
}
.dost_img {
    width: 250px;
    margin: auto;
    padding: 40px 5px 80px 5px;
}
.strelki {
    width: 100px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.dost_img img {
    height: 195px;
    width: 255px;
}
.napishite_nam {
    background-color: #d4e1f7;
}
.napishite_nam h2 {
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
}
.sposob_oplati {
    background-image: url('/static/image/1212_02.png');
    background-size: auto;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
}
button {
    background-color: transparent;
    width: 305px;
    height: 60px;
    border: none;
}
.img_btn_form {
    width: 260px;
}
.sposob_oplati h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Open Sans Semibold', sans-serif;
    padding: 20px 20px 50px 20px;
}
.blok_nalich {
    margin-bottom: 100px;
}
.blok_carta {
    margin-bottom: 100px;
}
.blok_electo {
    margin-bottom: 100px;
}
.nalich {
    background: #f88e48bf;
    height: 350px;
    border-top-left-radius: 40px;
    padding: 20px;
}
.nalich img {
    margin: 0 auto;
}
.nalich h4 {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.nalich p {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.carta img {
    margin: 0 auto;
}
.carta h4 {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.carta p {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.carta {
    background: #f88e48bf;
    height: 350px;
    border-top-left-radius: 40px;
    padding: 20px;
}
.electo_pl img {
    margin: 0 auto;
}
.electo_pl h4 {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.electo_pl p {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.electo_pl {
    background: #f88e48bf;
    height: 350px;
    border-top-left-radius: 40px;
    padding: 20px;
}
.meg_center_lg {
    background-image: url('/static/image/1_02.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
    padding: 30px;
}
.meg_center_lg h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-weight: 600;
    margin-top: 60px;
}
.meg_center_lg h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-weight: 600;
    margin-top: 60px;
}
.meg_center_lg p {
    font-size: 30px;
    font-family: 'Roboto Condensed Regular', sans-serif;
    margin-top: 50px;
    text-align: justify;
}
.obrazci_spravok {
    background-image: url('/static/image/86_02.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    height: auto;
    padding: 30px;
}
.obrazci_spravok h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto Condensed Bold', sans-serif;
    margin: 40px 0 40px 0;
}
.meg_strelki img {
    margin: auto;
    padding: 10px;
}
.meg_center_lg .img_btn {
    margin: auto;
}
.obrz_spr2 img {
    height: 420px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 30px;
    height: 30px;
    font-size: 8px;
    font-weight: 800;
    border-radius: 100px;
}
.thumbnail {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 25px;
    margin-bottom: 20px;
}
section {
    background-color: #d2d2d2;
}
footer {
    background-color: #393769;
    height: 100px;
}
.glyphicon {

    position: relative;
    top: 25px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background-color: darkgray;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    right: -183px;
    left: 45%;

}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.fa-paperclip {
    font-weight: 900;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}